NODE_ENV=#Your Node Environment Here
HOST=#Your Host Here
PORT=#Your Port Here
SMOOTHIE_API_KEY=#Your API Key Here
MONGODB_URI=#Your URI Here
TEST_ACCOUNT_EMAIL_NORMAL=#Your Normal Account Email Here
TEST_ACCOUNT_PASSWORD_NORMAL=#Your Normal Account Password Here
TEST_ACCOUNT_EMAIL_ADMIN=#Your Admin Account Email Here
TEST_ACCOUNT_PASSWORD_ADMIN=#Your Admin Account Password Here